body {
    margin: 0;
    padding: 0;
}
.djangl-power-cms-body {
    width: 1170px;
    margin: 0 auto;
}
.djangl-power-cms-main {
    clear: both;
    margin-top: 20px;
}
.djangl-power-cms-main-left{
    width: 400px;
    float: left;
}
.djangl-power-cms-main-right{
    width: 750px;
    float: right;
}
.djangl-power-cms-main-left-content,
.djangl-power-cms-main-right-content {
    margin-bottom: 20px;
}
.djangl-power-cms-footer {
    clear: both;
    width: 1170px;
    margin: 0 auto 50px auto;
}
.djangl-power-cms-footer-content {
    margin-bottom: 20px;
}
