body, h1, h2, h3, h4, h5, h6, span, div, a {
    font-family: 微软雅黑, 宋体, Arial;
}

li .mt-title {
    margin-top: 15px;
    float: left;
    width: 60%;
}

li .mt-author {
    float: right;
    position: relative;
    text-align: right;
    width: 40%;
}
.events-content ul {
    list-style: none;
}