.error{
    color:red;
}
#wmd-input{
    height: 250px !important;
}
.header-nav{
    border-top: 3px solid #007bff;
}
.pl-2{
    background-color: #e9ecef;
    color:#495057;
}
.btn-1em{
    font-size: 1em;
}
.btn-link{
    font-weight: 400;
    font-size: 1em;
}
.snippet-title{
    font-size:1.5rem;
    display: inline-block;

}
.snippet-form{
    display: table;
    float: right;
}
.make-pretty{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.1;
    font-size: 11pt;
}
.snippetbox{
    display: inline-block;
    margin:  5px;
}
/*CSS Masonry Styles*/
@media (max-width: 480px){
    .grid-item {
        width:100%; 
        max-width: 100%; 
    }
}
@media only screen and (min-device-width : 481px) and (max-device-width : 767px) {
    .grid-item { width: calc(50% - 10px); }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .grid-item { width: calc(33.33% - 10px); }
}
    
@media (min-width: 1025px){
    .grid-item { width: calc(25% - 10px); }
}

.snippetbox > .card-header{
    padding: .75rem;
    font-weight: bold;
}
.tagholder{
    display:table;
}
.snippetbox > .card-body{
    padding: .75rem;
}
.snippetbox > .card-header a{
    color: #000;
    font-size: 13pt;
}
.snippetbox > .card-header hr{
    margin-top:.4rem;
    margin-bottom: .4rem;
}
.snippetbox > .card-body{
    font-size: 10pt;
}
.snippetbox > .card-body h3, h4, h5, h6{
    font-size: 11pt;
    font-weight: 600;
}
.snippetbox > .card-body h1, .snippetbox > .card-body h2{
    font-size: 12pt;
    font-weight: 600;
}
#taglist .tag  {
    color: #ffffff !important;
    border: 1px solid #fff;
    padding-left:6px;
    font-size: 11pt;
    background-color:#3273dc;
}
.tag {
    border-radius: 3px;
    margin: 3px;

}
.tag button{
    background-color: #f5f5f5;
    border: none;
    color: #495057;


}
#tagHolder{
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #c8cccc;
}
#taglist{
    display:flex;
    flex-wrap: wrap;
    padding: 0.5em 0.2em;
}
#tagHolder input[type=text]{
    flex-grow: 1;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0.5em 0.2em;
    font-size: 11pt;
}
#availableTags li {
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    border: 1px solid #363636;
    padding: 2px;
    float:left;
    margin: 5px;
    margin-left: 0;
}
#availableTags{
    display: table;
    margin: 0;
    padding: 5px;
    padding-left: 0
}
.tag_without_delete{
    float:left;
    padding:5px;
}
.tag_without_delete, .tag_without_delete_home{
    float:left;
    padding:3px;
    font-size: 8pt;
    color: #363636 !important;
    background-color: #e9ecef;
    border: 1px solid #363636;

}

/* Bootstrap Select */
.bootstrap-select button.dropdown-toggle{
    border: 1px solid #dee2e6!important;
    border-radius: 0px 4px 4px 0px;
    background-color: #fff;
    padding: 4px;
    
    
}

div.dropdown.bootstrap-select.show-tick {
    max-width: 75px !important;
    background-color: #fff !important;
    margin-right: 5px;
}
.filter-option-inner-inner{
    color: #495057;
    font-size: .875rem;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .tag_name{
      font-family: monospace;
  }

  .btn-xs {
    padding: .4rem .8rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

.m5px{
    margin-left: 5px;
}
.ml-5px{
    margin-left: -5px;
}
.tag_name{
    border: 1px solid #dee2e6!important;
    padding-bottom: 3px;
    border-right: none !important;
}
.snippetcontainer .card-body{
    max-height: 150px;
    overflow: hidden;
}
.card .small{
    font-size: 8pt;
}
.snippetcontainer .overflow-y-scroll{
    overflow-y: scroll;
}
.tagbuttons input[type=submit]{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    color: #363636;
}
.greyish{
    color:#495057;
}

.fa-custom{
    font-family: "Font Awesome 5 Free";
    font-size: 11pt;
    font-weight: 500;
    color:#495057;
}